
.main-page-content{
    width: 960px;
    height:100%;
    margin: 0 auto;
    background:white;
    display:flex;
    justify-content: center;
}

body {
    background: rgb(243, 243, 243);
}



.main-navbar {
    width: 100%;
    display: flex;
    margin: 0;
    //width: 1101px;
    height:45.98px;
    justify-content: center;
    font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
    background: #333;
    height: 46px;
    transition: height .2s ease-in-out;

    
}

.main-left {
    width: 380.98px;
    height: 45.98px;
    display: flex;
    justify-content: flex-start;
    color: #999;
    background: #333;
}

.home {
    width: 103.99px;
    height: 45.98px;
    text-align: center;
    border: 1px solid black;
    
    color: #999;
    background: #333;
    border-radius:1px;
}

.stream {
    width: 103.99px;
    height: 45.98px;
    text-align: center;
    background: #333;
    color: #999;
    border: 1px solid black;
    border-radius:1px;
    cursor: pointer;
    
    
}

.library {
    cursor: pointer;
    width: 103.99px;
    height: 45.98px;
    text-align: center;
    border: 1px solid black;
    background: #333;
    color: #999;
    border-radius:1px;
}

.main-middle {
    width: 248.46px;
    height: 45.98px;
}


.search{
    height: 28px;
    width: 100%;
    margin-top: 9px;
    display:flex; 
    margin-left: 15px;
    border-radius: 3px;
    display: inline-block;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
}   
.main-right {
    width: 450.56px;
    height: 45.98px;
    display: flex;
    justify-content: flex-start;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.header-logo {
    width: 69;
    height: 45.98px;
    
}

.upgrade {
    width: 73.27px;
    height: 43.5px;
    color: #f70;
    float: left;
    font: 100 14px/1.5 "Interstate","Lucida Grande",Arial,sans-serif;
    cursor: pointer;
}

.upload {
    width: 64.03px;
    height: 43.5px;
    color: #ccc;
    cursor: pointer;
}
.username {
    background-repeat: no-repeat;
    background-image: image-url('/assets/profilepic.png');
    background-size: 25px 25px;
    width: 175.31px;
    height: 43.5px;
    color: #ccc;
    display:flex;
    justify-content:space-around;
    cursor: pointer;
    


}
.bell {
    width: 45.98px;
    height: 45.98px;
    color: #ccc;
    background-repeat: no-repeat;
    background-image: image-url('/assets/notification.png');
    background-size: 25px 25px;
    cursor: pointer;
   
}
.mail {
    background-repeat: no-repeat;
    background-image: image-url('/assets/mail.png');
    background-size: 25px 25px;
    cursor: pointer;
    width: 45.98px;
    height: 45.98px;
    color: #ccc;
}
.dropdown {
    color: #ccc;
    width: 45.98px;
    height: 45.98px;
    
}

.header-logo {
    width: 69px;
    height: 45.98px;
    background-repeat:no-repeat;
    background-image: image-url('/assets/soundcloudlogo.png');
    background-size: 100% 100%;
    cursor: pointer;
    
}



.pic-main {
    width: 117.75px;
    height: 117.75px;
    background-repeat:no-repeat;
    background-image: image-url('/assets/sunflower.jpg');
    background-size: 100% 100%;
    margin-right: 20px;
    cursor: pointer;
}

.row {
    display:flex;
    width: 625px;
    border-bottom: 1px solid #999;
    padding-bottom: 20px;
}
.music-content {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 1200px;
    background: 0 0;
    margin: 0 auto;
    width: 960px;
    
}

.section-content{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
   
}
.section-title {
    font-size: 23px;
    font-weight: 100;
    height: 29.33px;
    width: 579px;
    
}

.section-body{
    font-weight: 100;
    color: #999;

}

.pic-area {
    display:flex;
    flex-direction: column;
    
}

.song-title{
    cursor: pointer;
}

.section {
    margin-left:40px;
} 







.main-col {

    width: 370px;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
}

.who-to-follow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-left: 1px solid #999; 
    height: 250px;
}


.wtf-title {
    color: #999;
    border-bottom: 1px solid #999;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    margin-top: 5px;
}

.display-threes {
    margin-left: 30px;
}

.small-pic {
    height: 40px;
    width: 200px;

    margin-top:20px;
    background-image: image-url('/assets/logic.jpg');
    background-size: 35px 35px;
    background-repeat: no-repeat;
    padding-left: 50px;
}

.small-title {
    color: #999;
    font-size: 16px;
}
.small-body{
    margin-top: 5px;
    font-size:14px;
}

.go-mobile {
    margin-top: 0;
}