.body {
    background: rgb(243, 243, 243);
}

.show-body { 
    width: 960px;
    height: 1000px;
    background: teal;
    margin: 0 auto;
}

.show-top {
    background: #333;
    width: 100%; 
    height: 379.99px; 
}

.show-top-left-2 {
    padding:20px;
}


.orangeplay {
    height: 60px;
    width: 60px; 
}

.show-top-left-2 {
    display: flex;

}

.top-words {
    display:flex;
    flex-direction: column;
    margin-left: 10px;

}

.top-artist {
    width: 100%;
    height: 100%;
    color: #cccc;
    background-color: rgba(0,0,0,.8);
    font-size: 14px;
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    padding-top: 6px;
    padding-left: 4px;
    padding-right: 4px;
}

.top-title {
    margin-top: 5px;
    font-size: 20px;
    width: 100%;
    height: 37px; 
    color:White;
    background-color: rgba(0,0,0,.8);
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    padding-top: 6px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 6px;
}