.body {
    background: rgb(243, 243, 243);
}

.show-body { 
    width: 960px;
    height: 1000px;
    background: teal;
    margin: 0 auto;
}

.show-top {
    background: red;
    width: 100%; 
    height: 379.99px; 
}