div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: yellow;
    padding: 1px;
}

.sLinks {
    justify-content: space-between;
}

.singin {
    padding: 2px 16px;
    height: 30px;
    line-height: 24px;
    margin: 0 0 0 6px;
    transition: opacity .2s linear;
    font-size: 14px;
}
.signup {
    display: inline-block;
    padding: 2px 16px;
    background-color: #f50;
    border-color: #f50;
    font-size: 14px;

}

.demologin {
    
}


