div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: yellow;
    padding: 1px;
}

.sLinks {
    dispaly: flex;
    justify-content: space-between;
}

.singin {
    border: 1px;
    background: red;
}
.signup {
    border: 1px;
    background: orange;
}


